.folderIcon{
  color:#FDCA29;
  font-size: 3rem;

}
.toggle{
    display: inline-block;
    padding: 3px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
.title{
    white-space: pre;
    width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookmark{
    white-space: pre;
}

.allFolders{
    width: 60vw;
}
.folderSection:first-child{
    overflow: auto;
}
.folder{
    display:inline-block;
}
.individualFirstBookMark{
    overflow: auto;
}
.individualFirstBookMark:first-child{
    display: inline-block;
    white-space: pre;
    overflow: auto;
    text-overflow: ellipsis;
}
.individualBookmarkImg{
    width: 30px;
    height: 30px;
}
.allOfEachBookmark{
    display: inline-block;
    width: 200px;
    text-overflow: ellipsis;
    margin: 0;
    overflow: hidden;

}
.allOfEachBookmarkTwo{
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
    overflow: hidden;
}
.allOfEachBookmarkTwo img{
    display: inline-block;
    position: relative;
    top: 5px;
}
.allOfEachBookmark img {
    position: relative;
    left: 40%;
}
.hrClass{
    margin:0;
    margin-bottom: 14px;
    width: 50vw;
    position: relative;
    left: 5%;
}
