.folderIcon{
    color:#FDCA29;
    font-size: 3rem;
  
  }
  .toggle {
    display: inline-block;
    padding: 3px;
    color: white;
    /* margin-right: 10px; */
    cursor: pointer;
    text-align: center;
}
.title {
    white-space: pre;
    /* width: 9vw; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;
}
  
  .bookmark{
      white-space: pre;
      width: 78px;
  }
  
 
.allFolders {
    width: 60vw;
    position: relative;
    max-width: 900px;
    margin-top: 92px;
    margin-left: 43px;
}
  .folderSection:first-child{
      overflow: auto;
  }
  .folder {
    display: inline-block;
    margin: 0;
    width: 200px;
    max-height: 130px;
    overflow: overlay;
    text-align: center;
}
  .individualFirstBookMark{
      overflow: auto;
  }
  .individualFirstBookMark:first-child{
      display: inline-block;
      white-space: pre;
      overflow: auto;
      text-overflow: ellipsis;
  }
  .individualBookmarkImg {
    width: 3rem;
    height: 3rem;
}
.allOfEachBookmark {
    display: inline-block;
    width: 200px;
    text-overflow: ellipsis;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
  .allOfEachBookmarkTwo {
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
    overflow: hidden;
}
  .allOfEachBookmarkTwo img{
      display: inline-block;
      position: relative;
      top: 5px;
  }
  
  .hrClass {
    margin: 0;
    margin-bottom: 14px;
    width: 91%;
    max-width: 821px;
}

.noDataErrorFixing {
    font-size: 0;
    vertical-align: top;
    min-width: 500px;
    height: 100%;
    background: lightgoldenrodyellow;
    box-shadow: 2px -10px 30px black;
    margin-left: 27px;
    
}
.insideNoDataErrorFixing {
    font-size: 1.2rem;
    width: 100%;
    position: relative;
    top: 44%;
    text-align: center;
    padding-right: 5%;
    text-shadow: 2px 2px aliceblue;
    padding-left: 5%;
}
  .displayingNone{
      display:none;
  }
  .displayingMessage{
      display:block;
  }
  
  .addingBookMarkScreenShot {
    width: 100%;
    
    
}
