body{
    background-color: #FFFFFF;
    margin: 0;

}

.hrBar{
    border: solid #e5e5e5;
    border-width: 2px 0 0;
}
.homepage {
    background-image: url(./images/title-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 110vw;
}
.home-login{
    width: 100vw;
    height: 86vh;
    margin: 0;
}

.home-title {
    font-size: 15vmin;
    font-family: 'Lobster', cursive;
    color: #265288;
}

.crease-logo {
    position: relative;
    display: inline-block;
    height: 30%;
    width: 70%;
    top: 20vh;
    background-image: url(./images/crease-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login-area {
    position: relative;
    top: 30vh;
}

.login-button {
    font-size: 1.2em;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    background-color: rgba(86, 135, 132, 0.2);
    color: #265288;
    border: 3px solid #265288;
    border-radius: 5px;
    padding: 1%;
    margin: 0 1%;
    width: 15%;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.login-button:hover, .getting-started-button:hover {
    border: 3px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.85);
    background-color: #265288;
}
button:focus {
    outline: none;
    background-color: #265288; 
}

.description-header {
    position: relative;
    width: 100vw;
    height: 10vh;
    color: whitesmoke;
    margin: 0;
    top: 1vh;
}

.description-title {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4.5vmin;
    top: 5px;
    color: rgb(218, 218, 218);
}

.description-body {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/description-body.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.lobster {
    font-family: "Lobster Two", cursive;
    font-size: 4.5vmin;
    color: white;
}

.video-container {
    height: 800px;
    width: 557px;
}

video-container-parent {

}