
.teampage-background {
    background-image: url(./images/team-page-bg.jpg);
    
}

.meetteam-logo {
    display: inline-block;
    position: relative;
    top: 20px;
    right: 20px;
}


.member-container {
    display: inline-block;
    margin: auto;
    width: 50%;
    padding-top: 9%;
}

.member-pic {
    display: inline-block;
    width: 50%
}
.iconSection{
    display: flex;
    justify-content: center;
    /* width: 50%; */
    margin: 0;
    /* text-align: center; */

}
.id-card {
    display: inline-block;
    color: grey;
    cursor: pointer;
    margin: 5px;
}

.github{
    display: inline-block;
    color: grey;
    cursor: pointer;
    margin: 5px;
}

.linkedin{
    display: inline-block;
    color: grey;
    cursor: pointer;
    margin: 5px;
}

.member-container a {
    color: grey
}

.member-container a:hover {
    color: #265288;
} 

.github:hover, .linkedin:hover, .id-card:hover {
    color: #265288;
}
.nameStyle{
    
        font-size: 1.7rem;
        
        font-weight: 600;
        margin: 0;
    
}
.fa-id-card, .fa-github, .fa-linkedin {
    font-size: 2rem;
}


@media screen and (orientation: portrait){
    .teampage-background{
        height:100vh;
    }
}




@media screen and (max-width: 1000px){
    /* css to be applied on screens under 1000px */

}


@media screen and (max-width: 1050px){
    /* .meetteam-logo{
        display:none;
    }
    .linkedin{
        position: initial;
        display:inline-block;
    }
    .id-card{
        position: initial;
        display:inline-block;
    }
    .github{
        position: initial;
        display:inline-block;
    }
    .nameStyle{
        left:0;
        margin: 0;
    }
    .iconSection{
        display:flex;
        justify-content: space-evenly;
    }
    .member-pic {
        width: 300px;
        margin-top: 31px;
    }
    .sriImage{
        margin-bottom: 20px;
        margin-top: 81px;
    }
    .andrewIconAndName{
        position: relative;
        bottom: 19px;
    }
    .teampage-background{
        background-size: contain;
    } */
}
