
.teampage-background {
    background-image: url(./images/team-page-bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

.meetteam-logo {
    display: inline-block;
    position: relative;
    top: 20px;
    right: 20px;
}

.member-container {
    display: inline-block;
    
}

.member-pic {
    height: 100%;
    margin-bottom: -43px;
    margin-top: 45px;
}

.github {
    position: relative;
    bottom: 13px;
    right: 46px;
    color: grey;
    font-size: 30px;
    cursor: pointer;
}

.linkedin {
    position: relative;
    top: 13px;
    right: 105px;
    color: grey;
    font-size: 28px;
    cursor: pointer;
}

.id-card {
    position: relative;
    left: 7px;
    bottom: 50px;
    color: grey;
    font-size: 28px;
    cursor: pointer;
}

.member-container a {
    color: grey
}

.member-container a:hover {
    color: #265288;
} 

.github:hover, .linkedin:hover, .id-card:hover {
    color: #265288;
}

@media screen and (max-width: 1000px){
    /* css to be applied on screens under 1000px */

}

.fa-id-card, .fa-github, .fa-linkedin {
    font-size: 2rem;
}
