.applicationDiv{
    margin: 0;
    width: 100vmin;
}
.insideDiv{
    display:inline-block;

}

.leftDivApp{
    width: 40vmin;

}
.rightDivApp{
   width: 60vmin;

}
.rightDivApp > * {
    display:inline-block;
}