.nav-item .nav-link.selected {
    color: rosybrown;

}
.nav-item .nav-link:hover {
    color: pink;

}
.navExtras{
    background-color: beige;
    display: inline-flex;
    justify-content: center;
}