.applicationDiv{
    margin: 0;
    width: 100vmin;
    height: 100vh;
}
.insideDiv{
    display:inline-block;

}

.leftDivApp{
    width: 40vmin;
    height: 100%;

}
.rightDivApp{
   width: 60vmin;
    height: 100%;

}
.rightDivApp > * {
    display:inline-block;
}