.applicationDiv{
    margin: 0;
    width: 100vw;

}

.insideDiv{
    display:inline-block;
    height: 85vh;
    min-width: 500px;
}

.reminder-section{
    display: inline-block;
    position: relative;
    width: 30vw;
    height: 91vh;
    min-width: 400px;
    border-radius: 0 15px 0 0;
    top: 10px;
    overflow-y: auto;
}

.reminder-section::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.rightDivApp{
    vertical-align: top;
}

.rightDivApp > * {
    display:inline-block;
}