.applicationDiv{
    margin: 0;

}
.insideDiv{
    display:inline-block;
    height: 90vh;


}

.reminder-section{
    width: 30vw;
    background-image: url("./reminders/images/reminders-background.jpg");
    min-width: 460px;
}
.rightDivApp{

    vertical-align: top;

}
.rightDivApp > * {
    display:inline-block;
}