.applicationDiv{
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 0;
}


.reminder-section{
    display: inline-block;   
    min-width: 400px;
    border-radius: 0 15px 0 0;   
    overflow-y: auto;
    height: 100%;
    width: 35%;
    padding-top: 60px;
}

.reminder-section::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.rightDivApp{
    font-size: 0;
    vertical-align: top;
    width: 65%;
    display: inline-block;
    min-width: 500px;
    height: 100%;
    
}

.rightDivApp > * {
    display:inline-block;
}

.appDivBeforeRoot{
    height: 100vh;
    width: 100vw;
}