.applicationDiv{
    margin: 0;

}
.insideDiv{
    display:inline-block;
    height: 90vh;


}

.leftDivApp{
    width: 30vw;
    background-image: url("../images/reminders-background.jpg");

}
.rightDivApp{

    vertical-align: top;

}
.rightDivApp > * {
    display:inline-block;
}