.nav-item .nav-link.selected {
    color: rosybrown;

}
.nav-item .nav-link:hover {
    color: pink;

}
.nav-item{

    list-style-type: none;


}
.navExtras{
    display: inline-flex;
    justify-content: center;
    background-color: beige;
    height: 10vh;
    width: 100vw;

}