.listItemElements:hover{
    font-size: 1rem;
    font-style: italic;
    background-color: lightgray;
    list-style-type: none;
}
.listItemElements{
    border-bottom: 1px black solid;


}
.allListItemElements{
    list-style-type: none;
    height: 100vh;
}

.lastTimeColor{
   background-color:red;
}
.secondToLastTimeColor{
    background-color: pink;
}
.thirdToLastTimeColor{
  background-color: green;
}
.fourthToLastTimeColor{
   background-color: blue;
}