.main-nav {
    padding: 0 20px;
}

.nav-logo{
    font-family: 'Lobster', cursive;
}

#navbar {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

nav {
    background-color: #265288;
    position: fixed;
}